/node_modules
/public/hot
/public/storage
/public/data/*/thumb/.gitignore
/public/data
/public/uploads
/storage/*.key
/vendor
/.idea
.env
.ssh
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
