.education .widget-content-area .user-info img {
    border-radius: 9px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.side-title{
    font-size: 15px;
    color: #acb0c3;
    letter-spacing: 1px;
}